<html>
<body>
<form action="/services/manageBookmarks" method="get">

<input type="text" name="articleid" value="08d8ca0a-fba2-e911-a97b-00224801377b" />
<br />
<input type="text" name="action" value="add" />
<br />
<input type="submit" />

</form>
</body>