{% extends 'layout_2_column_wide_left' %}
{% block aside %}
    <div class="sidebar">
        <div class="content-panel panel panel-default">
            <div class="panel-heading">
                <h4>
                How can we help ?
                </h4>
            </div>

            <div class="panel-body">
                <div>
    <a href="#" class="btn btn-action-home btn-lg-home">Ask a Tech Champion</a>
                </div>
                <div>
    <a href="#" class="btn btn-action-home btn-lg-home">Browse the Resource Hub</a>
                </div>
                <div>
    <a href="#" class="btn btn-action-home btn-lg-home">Ask the Community</a>
                </div>

            </div>
        </div>

    </div>
{% endblock %}